/* Общие стили */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #131313;
  color: #ffffff;
}

header {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 0 0 15px #ffffff;
}

.menu-icon {
  font-size: 1.8rem;
  color: #ff8000;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* По умолчанию скрыто для мобильного */
}

nav ul li {
  margin: 10px 0;
  text-align: center;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #f0a500;
}

/* Меню */
#menu {
  padding: 20px;
  text-align: center;
  margin-bottom: 15vh;
}

h2 {
  font-size: 3.8vw;
  color: #f0a500;
}

.menu-section {
  margin-bottom: 30px;
}

.menu-section h3 {
  font-size: 3.4vw;
  color: #ffffff;
  margin-bottom: 10px;
}

.menu-section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 5vh;
}

.menu-section ul li {
  font-size: 4vw;
  margin: 10px 0;
  border-bottom: 1px solid #bcb1b1;
  padding-bottom: 10px;
}

/* Подвал */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #141414;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
  color: #ffffff;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  header {
      flex-direction: row;
  }

  nav ul {
      display: block;
      background-color: #141414;
  }

  nav ul li {
      margin: 0;
      padding: 10px;
  }
}


.arrow {
  color: rgb(255, 255, 255);
  position: fixed;
  font-size: 4vw;
  height: 100vh;
  padding: 2vw;
  padding-bottom: 50vh;
  text-align: center;
  align-content: center;

}

.arrow:active{
  opacity: 0.5;
  background-color: #eeefbc;
}

.next{
  right: 2vw;
}

.prev{
  left: 2vw;
}

.sostav {

  margin-top: 3vh;
  color: gray;
  font-size: 3vw;
}
.price{
  margin-top: 3vh;
  color: white;
  font-size: 3vw;
}

.cancel{
 position: relative;
 left: 35vw;
 bottom: 3vh;
}

.cancelItem{
  color: rgb(245, 108, 108);
}

.imageMenu{
  position: fixed;
  width: 30vw;
  top: 0;
  left: 70vw;
}

.imageMenu img{
  width: 30vw;

}

.imgFood{
  position: fixed;
  width: 40vw;
  top: 60vh;
  left: 55vw;
  z-index: -1;
  opacity: 0.7;
}

.imgFood img{
  width: 40vw;

}

.pad{
  width: 100wv;
  height: 50px;
}